/* Remove when construction done */
#construction {
    width: 43%;
    margin: 1.5% 29.5%;
    background-color: ivory;
    color: indigo;
    border: 5px solid crimson;
    padding: 5px;
    text-align: center;
}

body {
    /*background-color: #A0A0A0;*/
    background-color: #f3f3f3;
    width: 100%;
    /*color: #F5F5F5;*/
    color: #434343;
    font-family: "Georgia";
}

a {
    text-decoration: none;
    /*color: #000080;*/
    color: #1c4587;
}

.title {
    text-align: center;
    /*color: #000080;*/
    color: #1c4587;
}

.game {
    width: 800px;
    height: 800px;
    /*background-color: #F5F5F5;*/
    background-color: #d9d2e9;
    /*color: #000080;*/
    color: #1c4587;
    margin: auto;
}
/* TODO: Figure a way to embed games ie
    JSPS like https://www.tutorialspoint.com/jsp/jsp_environment_setup.htm */
.video {
    width: 800px;
    height: 500px;
    margin: auto;
    display: block;
}

.header {
    text-align: center;
    /*color: #000080;*/
    color: #1c4587;
}
.text {
    margin: 0% 5%;
}