/*Colors: https://www.w3schools.com/cssref/css_colors.asp
{box-sizing:border-box} */

h2 {
    /*color: #000080;*/
    color: #1c4587;
    border: 3px solid #434343/*#F5F5F5*/;
    padding: 5px;
    width: 25%;
    margin: 2% 37.5%;
    text-align: center;
    cursor: pointer;
}

body {
    /*text-align: center;*/
    /*background-color: #D8BFD8;
    background-color: #A0A0A0;
    NEW COLOR?*/
    background-color: #f3f3f3;
    width: 100%;
    justify-self: center;
    margin: 0px;
}


ol, ul {
    list-style-position: inside;
}

h4, h3, p, li {
    font-family: 'Roboto', sans-serif;
    color: #434343/*#F5F5F5*/;
}

h4, p {
    margin: 0.2% 2%;
}

.title {
    font-family: "Georgia";
}

.byow {
    background-image: url("images/byow.jpg");
}

.map {
   background-image: url("images/maps.jpg");
}

.ants {
   background-image: url("images/ants.jpg");
}

.guitar {
    background-image: url("images/guitar.jpeg");
    /* Source: https://freestocks.org/photo/guitarist-hand-playing-guitar/ */
}

.stock {
    background-image: url("images/stock.jpeg");
    /* Source: https://www.nytimes.com/2019/03/04/opinion/sanders-stock-buybacks.html */
}

.img:hover {
    font-size: 3vmin;
    line-height: 33px;
    font-weight: normal;
}

.img {
    background-position: center;
    height: 550px;
    /*width: 800px;*/
    width: 80%;
    text-align: center;
    text-decoration: none;
    line-height: 100px;
    font-size: 4vmin;
    font-weight: bold;
    align-items: center;
    margin: auto;
}


.imgtext {
    /*background-color: #000080;*/
    background-color: #1c4587;
    color: #F5F5F5;
    opacity: 0.8;
    height: 100px;
    top: 82%; /* vs 67 px, 88% prev */
    position: relative;
    margin: 0%;
}

#projects {
    /* Center this */
    /*align-items: center;*/
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 3%;
    margin: 5%;
}

#intro, #school, #skills {
    padding-left: 5%;
    padding-right: 5%;
}

#menu {
    /*background-color: #000080;*/
    color: #F5F5F5;
    background-color: #1c4587;
    display: grid;
    grid-template-columns: 20% 18% 12% 12% 12% 12% 12%;
    grid-gap: 0%;
    text-align: center;
}

h3 {
    color: #f3f3f3;
}

.dropdown a {
    color: #F5F5F5;
    /*text-decoration: none;*/
    /*color: #434343;*/
}

a {
    text-decoration: none;
    /*color: #000080;*/
    color: #1c4587;
}

.dropdown a:hover {
    background-color: #F5F5F5;
    /*color: #000080;
    background-color: #434343; */
    color: #1c4587;
}

#contact {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1%;
    justify-items: center;
    text-align:center;
}

#dots {
    text-align: center;
}

#slideshow {
    margin: auto;
    position: relative;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    display: none;
    -webkit-animiation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

.back, .forward {
    user-select: none;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: ivory;
    margin-top: -22px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    transition: 0.7s ease;
}

.forward {
    border-radius: 3px 0 0 3px;
    right: 0;
}

.back:hover, .forward:hover {
    background-color: rgba(11, 27, 53, 0.8);
}

#imgnumber {
    color: #F5F5F5;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    bottom: 1px;
    left: 93%;
}

.dot {
    height: 14px;
    width: 14px;
    margin 0 2px;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease;
}

.active, .dot:hover {
    background-color: #666666;
}

.arrow {
    color: #666666;
    position: absolute;
    left: 39%;
    transform: rotate(90deg);
}

.rotate {
    color: #666666;
    position: absolute;
    left: 39%;
}